/* Tourism Page Styles */

.Cultural-page-container {
  margin-top: 80px;
}

.Cultural-page-container h1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 20px;
}

.Cultural {
  width: 600px;
  height: 530px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
  border: 5px solid blue;
  margin: 20px;
}

.Cultural2 {
  width: 600px;
  height: 530px;
  display: flex;
  background-color: white;
  border-radius: 10px;
  transition: all 0.2s;
}

.Cultural2:hover {
  transform: scale(0.98);
  border-radius: 20px;
  border: 5px linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
}

.Cultural:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
  border: 0px;
}

.CulturalDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.Cultural-heading {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: black;
}
.Cultural-description {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: black;
}
.Cultural-image {
  width: 525px;
  max-height: 380px;
  object-fit: cover;
  border-radius: 5px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 30px;
}

.Cultural-content .btn {
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.Cultural-card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5px;
  height: 100%;
}

.Cultural-card:hover::before {
  width: 100%;
}

.Cultural-card:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.Cultural-content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #b31616;
}

.Cultural-content .btn:active {
  box-shadow: none;
}
/* Close button */

@media only screen and (max-width: 800px) {
  .spot-Cultural {
    padding: 20px;
    width: 88vw;
    justify-content: left;
  }

  .Cultural-heading {
    font-size: 25px;
  }
}
